.body{
        font:Helvetica;
    }
            .button-hover{
                background-color:black;
                border: none;
                font-weight:bold;
                color:white;
                padding-top:15px;
                padding-bottom:15px;
                padding-left:20px;
                padding-right:20px;
                cursor:pointer;
                border-radius:50px;
                display:block;
            }
            .input {
                margin-top:20px;
            }
            .button {
                cursor:pointer;
            }
            
            .gambarDua{
                height: 300px;
                width: 400px;
            }
            .gambarSatu{
                height: 250px;
                width: 250px;
            }
            .fart-Text{
                margin-left: 5px;
                color: red
            }
            .MenuElement{
                margin: 10px
            }
            .add-to-cart {
                background-color:black;
                color:yellow;
                font:Helvetica;
                border:none;
                border-width:1.5px;
                width:95px;
                height:40px;
                border-radius:16px;
                padding-bottom:10px;
                padding-top:10px;
                display:flex;
                align-items:center;
                justify-content:center;
                white-space:nowrap;
                margin-top:15px;
                font-weight:bold;
                box-shadow: 9px 9px 0 yellow;
                transition: background-color 0.15s, color 0.15s, border-color 0.15s;
            }

            .add-to-cart:hover {
                background-color:black;
                color:yellow;
                
                
            }
            .add-to-cart:active {
                opacity: 0.6;
                transform: translate(6px, 6px);
                box-shadow:0 0 0 0;

            }